.productPriceFilter{
    display: flex;
    gap: 1vw;
    padding: 10px;
    margin-top: 10px;

}
.productPrice{
    width: 50px;
    border: 1px solid grey;
}

.btn-price{
    padding: 5px;
    border: 1px solid salmon;
    background-color: salmon;
    border-radius: 7px;
    cursor: pointer;
    color: white;
}
.btn-price:hover{
    background-color: #fff;
    transition: .5s;
    color: salmon;
}
