.productInf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}
.productInf img {
    width: 250px;
    height: 250px;
}
.productPrice{
    font-style: italic;
}

.desription{
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: lightgrey;
    opacity: 0.8;
    padding: 20px;
    display: none;
}
.productInf.show .desription{
    display: block;
}