
.category-buttons{
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;

}
.category-btn{
    padding: 5px;
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 7px;
    cursor: pointer;
}
.category-btn:hover{
    background-color: #fff;
    transition: .5s;
}
